.GenList{
    text-align: center;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    /* overflow: hide; */
    border: solid black 1px;
    padding: 5px;
    background: white;
  }
  
  .GenList .GenItemClose {
    margin-right: 1rem;
    border: solid maroon 2px;
    border-radius: 2px;
    align-self: center;
  }